<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title>Add Classroom</title>
</head>
<body>
<h1>School Management System-Classrooms</h1>
<nav class="navbar1">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/showClassrooms}">Classrooms</a></li>
        <li><a th:href="@{/addClassroom}">Add a Classroom</a></li>
    </ul>
</nav>
<main>
<form th:action="@{/saveClassroom}" th:object="${classroom}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label class="label">Classroom Name:</label>
        <input class="textbox" type="text" th:field="*{name}">
    </div>
    <div>
        <label class="label">Assign Courses:</label>
        <select th:field="*{courses}">
            <option th:each="c : ${courses}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
    </div>
    <button class="button" type="submit">Save Classroom</button>
</form>
</main>
</body>
</html>